:root {
  --ming: #006d77;
  --blue-green: #83c5be;
  --alice-blue: #edf6f9;
  --silk: #ffddd2;
  --dark-salmon: #e29578;
  --header-font: "Architects Daughter";
  --body-font: "Playfair Display"; 
}

html {
  font-size: 62.5%;
}

body {
    font-family: var(--body-font), sans-serif;
    font-size: 1.6rem;
    height:  100%;
    margin: 0;
}

#logo-image {
    height: 5rem;
    width: 5rem;
}

.title {
  font-family: var(--header-font);
  font-size: 5rem;
}

/* NOT FINISHED
#wrapper { 
  min-height: 100%; 
  height: auto !important; 
  height: 100%; 
  margin: 0 auto -10rem; 
} */

/* Nav Bar */

a {
  color: var(--alice-blue);
}

/* header */

.header {
  background-color: var(--ming);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--ming);
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .navbar-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

/* menu */

.header .navbar {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .navbar-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .navbar-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 1.8rem;
}

.header .navbar-icon .navicon:before,
.header .navbar-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .navbar-icon .navicon:before {
  top: 5px;
}

.header .navbar-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .navbar-btn {
  display: none;
}

.header .navbar-btn:checked ~ .navbar {
  max-height: 240px;
}

.header .navbar-btn:checked ~ .navbar-icon .navicon {
  background: transparent;
}

.header .navbar-btn:checked ~ .navbar-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .navbar-btn:checked ~ .navbar-icon .navicon:after {
  transform: rotate(45deg);
}

.header .navbar-btn:checked ~ .navbar-icon:not(.steps) .navicon:before,
.header .navbar-btn:checked ~ .navbar-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    display: flex;
    justify-content: flex-start;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* Main Image */
  
  .welcome-container {
    background-image: url("../images/arepa-background.jpeg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .welcome-container .title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

/* Deals/ features and experiences container */

.content-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

/* Deals / Features */

  #deals {
  background-color: var(--dark-salmon);
  height: 20rem;
  width: 45%;
  margin: 1rem .5rem 1rem .5rem;
  border-radius: 4px;
  }


/* Experiences */

  #experiences {
    background-color: var(--dark-salmon);
    height: 20rem;
    width: 45%;
    margin: 1rem .5rem 1rem .5rem;
    border-radius: 4px;
    }

/* Gallery */

.gallery {
  margin: .5rem;
  border: 4px solid var(--ming);
  border-radius: 4px;
  width: 40rem;
  float:  left;
  justify-content: center;
}

.gallery:hover .image-description {
  border: 4px solid var(--alice-blue);

/* NOT SURE WHY THIS TWO WONT WORK */

  background-color: var(--alice-blue); 
  color: var(--ming);
}

.gallery img {
  width: 100%;
  height: auto;
}

.image-description {
  background-color: var(--ming);
  color: var(--alice-blue);
  padding: 1rem;
  text-align: center;
}

/* footer */

.footer-container{
  align-items: flex-end;
  background-color: var(--blue-green);
  height: 10rem;
}

.social-media {
  align-items: center;
  display: inline;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #000;
}

/* Media Queries */


@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 940px) {
  #rest {
    display: none;
  }
}

/* CONTACT PAGE */

.form-section {
  clear: left;
  background: url(assets/images/contact-background.jpeg);
  background-size: cover;
  background-position: center;
  height: 90rem;
}

.contact-form {
  margin-top: 15rem;
  color: var(--alice-blue);
  background-color: rgba(65, 57, 57, 0.6);
  max-width: 40rem;
  position: absolute;
  left: 10%;
  padding: 3rem;
}

.contact-form h2 {
  color: var(--alice-blue);
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: var(--alice-blue);
  width: 100%;
  height: 2.5rem;
  margin: .5rem 0 2rem 0;
  border: 1px solid var(--alice-blue);
  border-radius: 2px;
}

.text-input:hover {
  border-color: var(--dark-salmon);
}

.submit-button {
  display: block;
  text-align: center;
  margin-top: 2rem;
  border-radius: 2px;
  padding: 1.5rem 3rem 1.5rem 3rem;
  font-size: 100%;
  background-color: var(--dark-salmon);
  color: var(--alice-blue);
  
}

.join-button:hover {
  background-color: var(--alice-blue);
  color: var(--dark-salmon);
}

480 (only at max width)
576 mobile
768 tablet  
900d esktop