:root {
  --ming: #006d77;
  --blue-green: #83c5be;
  --alice-blue: #edf6f9;
  --silk: #ffddd2;
  --dark-salmon: #e29578;
  --header-font: "Architects Daughter";
  --body-font: "Playfair Display"; 
}

html {
  font-size: 62.5%;
  height:  100%;
}

body {
    font-family: var(--body-font), sans-serif;
    font-size: 1.6rem;
    height:  100%;
    margin: 0;

}

#logo-image {
    height: 5rem;
    width: 5rem;
    margin: 0;
}

.title {
  font-family: var(--header-font);
  font-size: 5rem;
}


/* Nav Bar */

a {
  color: var(--alice-blue);
}

/* header */

.header {
  background-color: var(--ming);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--ming);
}

.header li a {
  display: block;
  padding: 2rem 2rem;
  border-right: 1px solid var(--alice-blue);
  text-decoration: none;
}

.header li a:hover,
.header .navbar-btn:hover {
  background-color: var(--alice-blue);
}

.header .logo {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

/* menu */

.header .navbar {
  clear: both;
  max-height: 0;
  transition: max-height .3s ease-out;
}

/* menu icon */

.header .navbar-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 3rem 2rem;
  position: relative;
  user-select: none;
}

.header .navbar-icon .navicon {
  background: var(--alice-blue);
  display: block;
  height: 3px;
  position: relative;
  transition: background .3s ease-out;
  width: 2rem;
}

.header .navbar-icon .navicon:before,
.header .navbar-icon .navicon:after {
  background: var(--alice-blue);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .3s ease-out;
  width: 100%;
}

.header .navbar-icon .navicon:before {
  top: 5px;
}

.header .navbar-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .navbar-btn {
  display: none;
}

.header .navbar-btn:checked ~ .navbar {
  max-height: 240px;
}

.header .navbar-btn:checked ~ .navbar-icon .navicon {
  background: transparent;
}

.header .navbar-btn:checked ~ .navbar-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .navbar-btn:checked ~ .navbar-icon .navicon:after {
  transform: rotate(45deg);
}

.header .navbar-btn:checked ~ .navbar-icon:not(.steps) .navicon:before,
.header .navbar-btn:checked ~ .navbar-icon:not(.steps) .navicon:after {
  top: 0;
}

.logo:hover {
  text-decoration: none;
  color: var(--alice-blue);
  font-style: oblique;
}

/* Main Image */
  
.welcome-image {
  background-image: url("assets/images/arepa-background.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.welcome-container .title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  }

/* Deals/ features and experiences container */

.content-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
 background-position: center;
}

/* Information boxes */

.info-box {
  background-color: var(--dark-salmon);
  height: auto;
  width: 45%;
  margin: 1rem .5rem 1rem .5rem;
  border-radius: 4px;
  display: inline-block;
  }
  #deals img {
    height: 15rem;
    padding: 1rem;
    border-radius: 2px;
  }


/* Gallery */

.gallery {
  margin: .5rem;
  border: 4px solid var(--ming);
  border-radius: 4px;
  width: 40rem;
  display: flex;
  justify-content: center;
}

.gallery:hover .image-description {
  border: 4px solid var(--alice-blue);
  background-color: var(--alice-blue); 
  color: var(--ming);
}

.gallery img {
  width: 100%;
  height: auto;
}

.image-description {
  background-color: var(--ming);
  color: var(--alice-blue);
  padding: 1rem;
  text-align: center;
}

/* footer */

.footer-container{
  display: flex;
  align-content: flex-end;
  background-color: var(--blue-green);
  height: 6rem;
  display: cover
}

.social-media {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.social-media .social-media-item {
  display: flex;
  justify-content: space-between;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #000;
}
.copyright {
  justify-content: flex-end;
  align-self: flex-end;
}

.copyright p {
  font-size: small;
}

/* Media Queries */


@media screen and (max-width: 1160px) {
  #rest {
    display: none;
  }
}

/* Tablet media query 768px */

@media (min-width: 875px) {
 
.header .navbar-item a {
  padding: 2rem 3rem;
  }
.header .navbar {
  clear: none;
  display: flex;
  justify-content: flex-end;
  max-height: none;
  }
.header .navbar-icon {
  display: none;
  }
}

/* CONTACT PAGE */

.contact-section {
  background: url("assets/images/contact-background.jpeg");
  background-size: cover;
  background-position: center;
  height: 50rem;
}

.contact-form {
  margin-top: 15rem;
  color: var(--alice-blue);
  background-color: rgba(65, 57, 57, 0.6);
  max-width: 40rem;
  left: 10%;
  padding: 3rem;
}

.contact-form h1 {
  color: var(--alice-blue);
  margin-bottom: 20px;
  font-family: var(--header-font);
}

.text-input {
  /* background: transparent; */
  color: #000;
  width: 100%;
  height: 2.5rem;
  margin: .5rem 0 2rem 0;
  border: 1px solid var(--alice-blue);
  border-radius: 2px;
}

.text-input:hover {
  border-color: var(--dark-salmon);
}

.submit-button {
  display: block;
  text-align: center;
  margin-top: 2rem;
  border-radius: 2px;
  padding: 1.5rem 3rem 1.5rem 3rem;
  font-size: 100%;
  background-color: var(--dark-salmon);
  color: var(--alice-blue);
  
}

.join-button:hover {
  background-color: var(--alice-blue);
  color: var(--dark-salmon);
}


/* gallery text */

.close {
  font-size: 1.5rem;
}

.col-sm-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-sm-12 img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery.container {
  padding-right: 1rem;
  padding-left: 1rem;
}